
.Marqueecard{
    height: 9em;
    width: 14em;
     
    overflow:hidden ;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    transition: .3s;
    width: 200px;
    height: 200px;
     
}
.Marqueecard img{
    object-position: center;
    object-fit: cover;
 border-radius: 80px;
  height: 120px;
  width:120px;
}
.Marqueecard h4{
    
        margin-left: 10px;
        font-size: 1.5rem;
        position: relative;
        font-family: "Protest Revolution", sans-serif;
    
}
.container{
    
    margin-top: 40px;
 
    height:250px;
    width:1000px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-content: center;    
}